@media all and (max-width: 992px) {
		
	
nav .nav-item 
{border-top: 1px solid #DEC219;} 
nav .nav-item:last-child
{border-bottom: 1px solid #DEC219;} 
    
	
}

@media (max-width: 734px)
    
{
   body
    {font-size: 15px;}
    
    #contact textarea {
   margin-top: 30px;
}

}